{% extends "base.html" %}
{% block title %}Sample Page{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='images/Camino Logo Small.svg')}}"
         alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">Return to login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/table">Table</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning " type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container mt-5 table-container">
    <table class="table table-striped data-table">
        <thead>
            <tr>
                {% for column in dataframe.columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, row in dataframe.iterrows() %}
            <tr>
                {% set cell_counter = 0 %}
                {% for item in row %}
                {% set cell_counter = cell_counter + 1 %}
                <td>
                    {% if item|string|length > 1000 %}
                    <div class="truncate">
                        {{ item|truncate(200, true, ' ') | safe }}
                        <button type="button" class="btn btn-link btn-sm text-primary p-0" data-bs-toggle="modal"
                            data-bs-target="#modal-{{ index }}-{{ cell_counter }}">
                            more...
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ index }}-{{ cell_counter }}" tabindex="-1" role="dialog"
                        aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Detailed Content</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ item|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {{ item|safe }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>


{% endblock %}